In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('s.csv')
df = df.drop('Semester', axis=1)
df = df.drop('Extra',axis =1)

In [ ]:
df.shape

In [ ]:
df.info()

In [3]:
df.columns

Index(['Department', 'Gender', 'HSC', 'SSC', 'Income', 'Hometown', 'Computer',
       'Preparation', 'Gaming', 'Attendance', 'Job', 'English', 'Last',
       'Overall'],
      dtype='object')

In [4]:
df.describe()

              HSC         SSC    Computer     English        Last     Overall
count  493.000000  493.000000  493.000000  493.000000  493.000000  493.000000
mean     4.156775    4.767647    3.338742    3.569980    3.163888    3.188383
std      0.546504    0.349538    1.252988    0.870515    0.641475    0.591801
min      2.170000    3.000000    1.000000    1.000000    1.000000    1.000000
25%      3.830000    4.680000    3.000000    3.000000    2.810000    2.880000
50%      4.170000    4.940000    3.000000    4.000000    3.250000    3.270000
75%      4.500000    5.000000    4.000000    4.000000    3.670000    3.680000
max      5.000000    5.000000    5.000000    5.000000    4.000000    4.000000

In [7]:
df.duplicated().sum()

np.int64(0)

In [ ]:
sns.histplot(df['English'],bins=4)

In [ ]:
sns.kdeplot(df['English'])

In [ ]:
sns.displot(df['English'],kde=True,bins= 4)

In [ ]:
sns.countplot(data = df ,x = df['Computer'],hue=df['Gender'])

In [ ]:
sns.barplot(data =df , x= df['English'],hue = df['Hometown'])

In [ ]:
sns.lineplot(data=df , x=df['English'],y=df['Computer'],hue=df['Gender'],marker='o')

In [ ]:
sns.scatterplot(data=df, x='English', y='Computer', hue='Gender',)

In [ ]:
sns.swarmplot(data=df, x='English', y='Computer', hue='Gender')

In [ ]:
sns.stripplot(data=df, x='English', y='Computer', hue='Gender')

sns.heatmap(df.corr(), annot=True, cmap="coolwarm", fmt=".2f")

In [ ]:
sns.violinplot(df['English'])

In [ ]:
index = df['Computer'].value_counts().index
value = df['Computer'].value_counts().values

plt.pie(value, labels=index, autopct='%1.1f%%', startangle=90)
plt.title("Distribution of English Grade")
plt.show()

In [ ]:
sns.stripplot(x="HSC", y="Gender", data=df, jitter=True,palette='bright')

In [ ]:
sns.stripplot(x="SSC", y="Gender", data=df, jitter=True,palette='Greens')

In [ ]:

sns.scatterplot(data = df ,x = df['SSC'],y=df['HSC'])

In [ ]:
sns.scatterplot(data = df ,x = df['HSC'],y=df['SSC'],hue='Hometown')

In [ ]:
sns.scatterplot(data = df ,x = df['SSC'],y=df['HSC'],hue='Gender')

In [ ]:
gender_counts = df.groupby("Department")["Gender"].value_counts().reset_index(name="Count")
sns.barplot(y="Department", x="Count", hue="Gender", data=gender_counts)

In [ ]:
place_counts = df.groupby("Department")["Hometown"].value_counts().reset_index(name="Count")
sns.barplot(y="Department", x="Count", hue="Hometown", data=place_counts)

In [ ]:
counts = df.groupby("Gender")["Hometown"].value_counts().reset_index(name="Count")
sns.stripplot(y="Gender", x="Count", hue="Hometown", data=counts)

In [ ]:
sns.histplot(df['Overall'],bins=3)

In [ ]:
sns.swarmplot(data = df,x = df["Overall"], hue="Gender",palette='bright')